@import url(variaveis.css);

#menu{
    background-color: var(--preto);
    color: var(--branco);
}
#menu a{
    background-color: var(--preto);
    color: var(--branco);
}
#menu__logo{
    width: 50px;
}

.form__escala {
    display: flex;
    flex-direction: column;
}

.form__escala input {
    margin: 1em 0;
    border-radius: 1em;
}

.divSelectEscala,
.divSelectCancoes {
    display: flex;
    flex-direction: column;
}

.divSelectEscala select,
.divSelectEscala button,
.divSelectCancoes select,
.divSelectCancoes button {
    display: block;
    width: 100%;
    border-radius: 15px;
}

#adicionarVoluntario,
#adicionarCancoes {
    text-align: center;
    width: 45px;
    margin-top: 2em;
}

#removeCancoes,
#removeVoluntario {
    text-align: center;
    width: 45px;
    margin-top: 1em;
}

#cancao,
#voluntario {
    display: flex;
}

#novoSelectCancoes,
#novoSelect {
    max-width: 100%;
    margin-right: 1em;
    margin-top: 1em;

}

#input__limpar,
#input__pesquisar{
    width: 50px
}

#input__limpar:hover,
#input__pesquisar:hover{
    background-color: #0000003a;
}

#voluntarios__search{
    margin: 1em;
    width: 90%;
}

.icones__voluntarios{
    width: 20px;
    height: 20px,
}

.accordion{
    background-color: #fff;
}

.accordion-item:hover{
    background-color: #a9a9a927;
    transition: all 0.15s;
}

.idTitulo__titulo{
    margin-left: 1em;
}

#novo-plus{
    font-size: 2em;
}

.subtitulo{
    color: var(--preto);
    font-size: 15px;
    font-style: italic;
}

#row{
    display: flex;
}

.iconYoutube{
    width: 40px;
}

.letra{
    margin-top: 1em;
}
.cifra{
    font-weight: bold;
    font-style: italic;
    color: #fa6400;
}

pre{
    font-family: var(--opensans);
}

.footer{
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--opensans);
    height: 200px;
}